<a href="https://colab.research.google.com/github/Satwato/Kaggle-NLP-with-Disaster-Tweets/blob/master/NLP_disaster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
try:
    # %tensorflow_version only exists in Colab.
    %tensorflow_version 2.x
    !pip install -q -U tensorflow-addons
    IS_COLAB = True
except Exception:
    IS_COLAB = False

# TensorFlow ≥2.0 is required
import tensorflow as tf
from tensorflow import keras
np.random.seed(42)
tf.random.set_seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

TensorFlow 2.x selected.

In [0]:
train= pd.read_csv("https://github.com/Satwato/Kaggle-NLP-with-Disaster-Tweets/raw/master/train.csv")
test= pd.read_csv("https://github.com/Satwato/Kaggle-NLP-with-Disaster-Tweets/raw/master/test.csv")
success= pd.read_csv("https://github.com/Satwato/Kaggle-NLP-with-Disaster-Tweets/raw/master/sample_submission.csv")

In [0]:
train

         id keyword  ...                                               text target
0         1     NaN  ...  Our Deeds are the Reason of this #earthquake M...      1
1         4     NaN  ...             Forest fire near La Ronge Sask. Canada      1
2         5     NaN  ...  All residents asked to 'shelter in place' are ...      1
3         6     NaN  ...  13,000 people receive #wildfires evacuation or...      1
4         7     NaN  ...  Just got sent this photo from Ruby #Alaska as ...      1
...     ...     ...  ...                                                ...    ...
7608  10869     NaN  ...  Two giant cranes holding a bridge collapse int...      1
7609  10870     NaN  ...  @aria_ahrary @TheTawniest The out of control w...      1
7610  10871     NaN  ...  M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...      1
7611  10872     NaN  ...  Police investigating after an e-bike collided ...      1
7612  10873     NaN  ...  The Latest: More Homes Razed by Northern Calif...      1

[7613 rows x 5 columns]

In [0]:
test

         id keyword location                                               text
0         0     NaN      NaN                 Just happened a terrible car crash
1         2     NaN      NaN  Heard about #earthquake is different cities, s...
2         3     NaN      NaN  there is a forest fire at spot pond, geese are...
3         9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4        11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan
...     ...     ...      ...                                                ...
3258  10861     NaN      NaN  EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259  10865     NaN      NaN  Storm in RI worse than last hurricane. My city...
3260  10868     NaN      NaN  Green Line derailment in Chicago http://t.co/U...
3261  10874     NaN      NaN  MEG issues Hazardous Weather Outlook (HWO) htt...
3262  10875     NaN      NaN  #CityofCalgary has activated its Municipal Eme...

[3263 rows x 4 columns]

In [0]:

success

         id  target
0         0       0
1         2       0
2         3       0
3         9       0
4        11       0
...     ...     ...
3258  10861       0
3259  10865       0
3260  10868       0
3261  10874       0
3262  10875       0

[3263 rows x 2 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(train[['text']].values, train[['target']].values, test_size=0.3, random_state=42)

In [0]:
X_train

array([['Ashes 2015: Australia\x89Ûªs collapse at Trent Bridge among worst in history: England bundled out Australia for 60 ... http://t.co/t5TrhjUAU0'],
       ['GREAT MICHIGAN TECHNIQUE CAMP\nB1G THANKS TO @bmurph1019 \n@hail_Youtsey . @termn8r13 \n#GoBlue #WrestleOn http://t.co/OasKgki6Qj'],
       ['CNN: Tennessee movie theater shooting suspect killed by police http://t.co/dI8ElZsWNR'],
       ...,
       ['Omron HEM-712C Automatic Blood Pressure Monitor STANDARD AND LARGE BP CUFFS http://t.co/gJBAInQWN9 http://t.co/jPhgpL1c5x'],
       ['Officials say a quarantine is in place at an Alabama home over a possible Ebola case after developing symptoms... http://t.co/rqKK15uhEY'],
       ['I moved to England five years ago today. What a whirlwind of time it has been! http://t.co/eaSlGeA1B7']],
      dtype=object)

In [0]:
tokenizer= keras.preprocessing.text.Tokenizer(char_level=False)

tokenizer.fit_on_texts(train['text'])
train['text']=tokenizer.texts_to_sequences(train['text'])

In [0]:
tokenizer= keras.preprocessing.text.Tokenizer(char_level=False)

tokenizer.fit_on_texts(train['text'])

In [0]:
X_train

array([['Ashes 2015: Australia\x89Ûªs collapse at Trent Bridge among worst in history: England bundled out Australia for 60 ... http://t.co/t5TrhjUAU0'],
       ['GREAT MICHIGAN TECHNIQUE CAMP\nB1G THANKS TO @bmurph1019 \n@hail_Youtsey . @termn8r13 \n#GoBlue #WrestleOn http://t.co/OasKgki6Qj'],
       ['CNN: Tennessee movie theater shooting suspect killed by police http://t.co/dI8ElZsWNR'],
       ...,
       ['Omron HEM-712C Automatic Blood Pressure Monitor STANDARD AND LARGE BP CUFFS http://t.co/gJBAInQWN9 http://t.co/jPhgpL1c5x'],
       ['Officials say a quarantine is in place at an Alabama home over a possible Ebola case after developing symptoms... http://t.co/rqKK15uhEY'],
       ['I moved to England five years ago today. What a whirlwind of time it has been! http://t.co/eaSlGeA1B7']],
      dtype=object)

In [0]:
target = X_train[:,0].pop('target')

AttributeError: ignored

In [0]:
train= np.asarray(train)

In [0]:
target=np.asarray(target)

In [0]:
train=train.dropna()

In [0]:
train

         id keyword location                                               text
0         1     NaN      NaN  [119, 4633, 24, 4, 868, 8, 21, 263, 138, 1619,...
1         4     NaN      NaN              [189, 45, 229, 799, 6954, 6955, 1404]
2         5     NaN      NaN  [40, 1751, 1620, 7, 6956, 6, 6957, 24, 136, 69...
3         6     NaN      NaN      [835, 2921, 59, 4635, 1500, 256, 1405, 6, 96]
4         7     NaN      NaN  [34, 100, 1221, 21, 320, 22, 6959, 2159, 30, 2...
...     ...     ...      ...                                                ...
7608  10869     NaN      NaN  [114, 861, 1372, 1089, 5, 373, 163, 69, 684, 2...
7609  10870     NaN      NaN  [6920, 6921, 6922, 4, 38, 8, 752, 262, 115, 6,...
7610  10871     NaN      NaN  [2824, 2401, 709, 1214, 1607, 1608, 107, 8, 59...
7611  10872     NaN      NaN  [78, 1145, 41, 43, 579, 2312, 342, 16, 5, 130,...
7612  10873     NaN      NaN  [4, 209, 54, 210, 546, 20, 198, 96, 180, 704, ...

[7613 rows x 4 columns]

In [0]:
dataset = tf.data.Dataset.from_tensor_slices((X_train[:,0],y_train))
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: b'Ashes 2015: Australia\xc2\x89\xc3\x9b\xc2\xaas collapse at Trent Bridge among worst in history: England bundled out Australia for 60 ... http://t.co/t5TrhjUAU0', Target: [0]
Features: b'GREAT MICHIGAN TECHNIQUE CAMP\nB1G THANKS TO @bmurph1019 \n@hail_Youtsey . @termn8r13 \n#GoBlue #WrestleOn http://t.co/OasKgki6Qj', Target: [1]
Features: b'CNN: Tennessee movie theater shooting suspect killed by police http://t.co/dI8ElZsWNR', Target: [1]
Features: b'Still rioting in a couple of hours left until I have to be up for class.', Target: [1]
Features: b'Crack in the path where I wiped out this morning during beach run. Surface wounds on left elbow and right knee. http://t.co/yaqRSximph', Target: [0]

In [0]:
dataset2 = tf.data.Dataset.from_tensor_slices((X_test[:,0],y_test))

In [0]:
def preprocess(X_batch,y_batch):
    X_batch=X_batch[:,0]
    X_batch = tf.strings.substr(X_batch, 0, 300)
    X_batch = tf.strings.regex_replace(X_batch, b"<br\s*/?>", b" ")
    X_batch = tf.strings.regex_replace(X_batch, b"[^a-zA-Z']", b" ")
    X_batch = tf.strings.split(X_batch)
    return X_batch.to_tensor(default_value=b"<pad>"),y_batch

In [0]:
from collections import Counter
vocab=Counter()
for i,j in dataset.batch(32).map(preprocess):
  for k in i:
    vocab.update(list(k.numpy()))

In [0]:
vocab.most_common()[:3]

[(b'<pad>', 52172), (b't', 3373), (b'co', 3322)]

In [0]:
vocab_size=50000
tr_vcb=[x for x,c in vocab.most_common()[:vocab_size]]

In [0]:
words=tf.constant(tr_vcb)
word_ids= tf.range(len(tr_vcb),dtype=tf.int64)
vocab_init= tf.lookup.KeyValueTensorInitializer(words,word_ids)
n_o=5000
table=tf.lookup.StaticVocabularyTable(vocab_init,n_o)

In [0]:
table.lookup(tf.constant([b"This disaster was faaaaaantastic".split()]))

In [0]:
def encode_words(X_batch,y_batch):
  return table.lookup(X_batch),y_batch

In [0]:
test_set=dataset2.repeat().batch(32).map(preprocess)

In [0]:

test_set=test_set.map(encode_words).prefetch(1)

In [0]:
train_set=dataset.repeat().batch(32).map(preprocess)

In [0]:
train_set

In [0]:

train_set=train_set.map(encode_words).prefetch(1)

In [0]:
embed_size = 128
model = keras.models.Sequential([
    keras.layers.Embedding(vocab_size + n_o, embed_size,
                           mask_zero=True, # not shown in the book
                           input_shape=[None]),
    keras.layers.GRU(128, return_sequences=True),
    keras.layers.GRU(128),
    keras.layers.Dense(1, activation="sigmoid")
])
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])
history = model.fit(train_set, epochs=20, validation_data=test_set)

Train for 167 steps, validate for 72 steps
Epoch 1/5
167/167 [==============================] - 35s 210ms/step - loss: 0.5520 - accuracy: 0.7174 - val_loss: 0.4570 - val_accuracy: 0.7999
Epoch 2/5
167/167 [==============================] - 29s 172ms/step - loss: 0.2071 - accuracy: 0.9176 - val_loss: 0.6581 - val_accuracy: 0.7579
Epoch 3/5
167/167 [==============================] - 29s 173ms/step - loss: 0.0612 - accuracy: 0.9831 - val_loss: 0.8116 - val_accuracy: 0.7574
Epoch 4/5
167/167 [==============================] - 29s 173ms/step - loss: 0.0328 - accuracy: 0.9917 - val_loss: 0.7479 - val_accuracy: 0.7557
Epoch 5/5
167/167 [==============================] - 29s 173ms/step - loss: 0.0236 - accuracy: 0.9940 - val_loss: 0.8452 - val_accuracy: 0.7623

In [0]:
sub_padded = keras.preprocessing.sequence.pad_sequences(tokenizer.texts_to_sequences(test[['text']].values[:,0]), padding='post', maxlen=20)

In [0]:
sub_padded=tf.convert_to_tensor(test["text"])

In [0]:
test['target'] = model.predict(sub_padded)
test['target'] = test['target'].apply(lambda x: int(x > 0.5))

In [0]:
sub = test[['id', 'target']]
sub.head()

   id  target
0   0       1
1   2       1
2   3       1
3   9       0
4  11       1

In [0]:


sub.to_csv('submission.csv', index=False)

In [0]:
import tensorflow_hub as hub

In [0]:
model = keras.Sequential([
    hub.KerasLayer("https://tfhub.dev/google/tf2-preview/nnlm-en-dim50/1",
                   dtype=tf.string, input_shape=[], output_shape=[50]),
    keras.layers.Dense(128, activation="relu"),
    keras.layers.Dense(1, activation="sigmoid")
])
model.compile(loss="binary_crossentropy", optimizer="adam",
              metrics=["accuracy"])

In [0]:
train_set=dataset.repeat().batch(32).prefetch(1)
test_set=dataset2.repeat().batch(32).prefetch(1)

In [0]:
history = model.fit(train_set,steps_per_epoch=200, epochs=20, validation_data=test_set,validation_steps=200)

Train for 200 steps, validate for 200 steps
Epoch 1/20
200/200 [==============================] - 28s 139ms/step - loss: 0.5546 - accuracy: 0.7339 - val_loss: 0.4956 - val_accuracy: 0.7763
Epoch 2/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4948 - accuracy: 0.7656 - val_loss: 0.4827 - val_accuracy: 0.7811
Epoch 3/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4888 - accuracy: 0.7723 - val_loss: 0.4802 - val_accuracy: 0.7820
Epoch 4/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4834 - accuracy: 0.7766 - val_loss: 0.4773 - val_accuracy: 0.7837
Epoch 5/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4792 - accuracy: 0.7744 - val_loss: 0.4766 - val_accuracy: 0.7811
Epoch 6/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4749 - accuracy: 0.7764 - val_loss: 0.4751 - val_accuracy: 0.7844
Epoch 7/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4582 - accuracy: 0.7894 - val_loss: 0.4728 - val_accuracy: 0.7864
Epoch 8/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4586 - accuracy: 0.7902 - val_loss: 0.4740 - val_accuracy: 0.7805
Epoch 9/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4565 - accuracy: 0.7914 - val_loss: 0.4715 - val_accuracy: 0.7828
Epoch 10/20
200/200 [==============================] - 28s 138ms/step - loss: 0.4501 - accuracy: 0.7933 - val_loss: 0.4724 - val_accuracy: 0.7831
Epoch 11/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4467 - accuracy: 0.7919 - val_loss: 0.4725 - val_accuracy: 0.7834
Epoch 12/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4296 - accuracy: 0.8067 - val_loss: 0.4716 - val_accuracy: 0.7870
Epoch 13/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4317 - accuracy: 0.8011 - val_loss: 0.4734 - val_accuracy: 0.7834
Epoch 14/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4308 - accuracy: 0.8023 - val_loss: 0.4713 - val_accuracy: 0.7848
Epoch 15/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4228 - accuracy: 0.8055 - val_loss: 0.4740 - val_accuracy: 0.7828
Epoch 16/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4189 - accuracy: 0.8064 - val_loss: 0.4753 - val_accuracy: 0.7811
Epoch 17/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4045 - accuracy: 0.8217 - val_loss: 0.4745 - val_accuracy: 0.7859
Epoch 18/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4072 - accuracy: 0.8169 - val_loss: 0.4767 - val_accuracy: 0.7837
Epoch 19/20
200/200 [==============================] - 27s 137ms/step - loss: 0.4076 - accuracy: 0.8195 - val_loss: 0.4749 - val_accuracy: 0.7830
Epoch 20/20
200/200 [==============================] - 27s 137ms/step - loss: 0.3979 - accuracy: 0.8236 - val_loss: 0.4788 - val_accuracy: 0.7753